.basket {
    width: 100%;
    background-color: rgba(219, 219, 219, 1);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.basket--dark-mode {
    background-color: rgba(40, 44, 52, 1);
    color: white;
}

.order-button {
    padding: 13px 30px;
    text-align: center;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(156, 42, 160, 1);
    align-self: flex-end;
    margin: 5%
}

.overview {
    color: black;
    text-align: left;
    margin-top: 0;
    padding-top: 20px;
}

.overview--dark-mode {
    color: white;
}